h1.welcome, h3 {
    color: #fff!important;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 29px;
}
.portal-bg {
    background-color: #000;
    margin: 0;
}
.nav {
    max-width: 500px;
    margin: 0 auto;
}
.icons-row a img {
    width: 70px;
}

.icons-row.color-row .button {
    width: 25%;
}

.icons-row.bright-row .button, .icons-row.speed-row .button {
    width: 33.33%;
}

.icons-row .button {
    
    display: block;
    float: left;
    text-align: center;
}
.icons-row .button i {
    font-size: 77px;
    display: none;
}
.row {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 1px #555;
}

.button:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
.row .item {
    color: white;
    display: block;
    padding: 10px 4px;
}
.row .item:hover {
    background-color: #333;
    cursor: pointer;
}
.row .item svg {
    fill: white;
    height: 62px;
    max-width: 62px;
}
.row .item .round {
    height: 62px;
    max-width: 62px;
    display: block;
    margin: 0 auto;
    background-color: red;
    border-radius: 38px 20px;
}
.color-red .item .round {
    background-color: red;
}
.color-green .item .round {
    background-color: green;
}
.color-yellow .item .round {
    background-color: yellow;
}
.color-blue .item .round {
    background-color: blue;
}

.icons-row button {
    height: 30px;
    width: 100%;
    border: none;
    background: none;
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 0;
}
.bottom {
    padding: 10px 0px;
    height: 22px;
}
.bottom .copyright {
    width: 50%;
    float: left;
    padding: 10px 0;
}
.bottom .copyright {
    color: #fff;
}
.bottom .media {
    width: 50%;
    float: right;
    padding: 10px 0;
}
.bottom .media span {
    float: right;
    color: #fff;
}
.bottom .media svg {
    fill: white;
    width: 21px;
    float: right;
    margin-left: 10px;
}

.language-switch label {
    color: #fff;
    font-family: sans-serif;
}
.language-switch {
    text-align: center;
    padding: 0 5px;
}


